## --------------------------
## 显示XML文档的控件
##
#@ charset    UTF-8
#@ trimming   on
#@ whitespace collapse
## --------------------------

## <ol class="webx-dom">
     ${element: #elements.*}
## </ol>

## 模板组：三种形态的elements
#elements
  #withSubElements
    <li>
      <p>$#{elementStart}&gt;</p>
      <ul>${subElements: #elements.*}</ul>
      <p><span class="hl-tag">&lt;/${elementName}&gt;</span></p>
    </li>
  #end
  
  #selfClosed
    <li>
      <p>$#{elementStart}<span class="hl-tag"> /&gt;</span></p>
    </li>
  #end
  
  #withText
    <li>
      <p>$#{elementStart}&gt;<span>${elementText: #styledTexts.*}</span><span class="hl-tag">&lt;/${elementName}&gt;</span></p>
    </li>
  #end
#end

#elementStart
  <span class="hl-tag">&lt;${elementName}</span>${attributes: #attribute}
  
  #attribute
    <span class="hl-attribute"> ${attributeKey}</span>=<span class="hl-value">"${attributeValue: #styledTexts.*}"</span>
  #end
#end

## 模板组：多种文本格式
#styledTexts
  #textValue
    ${value}
  #end
  
  #rawValue
    raw: (<span class="hl-package">${packageName}</span><span class="hl-class">${className}</span>) ${value}
  #end
  
  #classValue
    <span class="hl-package">${packageName}</span><span class="hl-class">${className}</span>
  #end

  #anchorValue
    ${sep: #sep}<a id="${anchorName}"><!--${anchorNameDisplay}--></a><span class="hl-anchor">${anchorNameDisplay}</span>
  #end
  
  #refValue
    ${sep: #sep}<a href="#${refName}" class="hl-ref">${refNameDisplay}</a>
  #end
#end

#sep
  ,$#{SPACE}
#end
