<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
        http://java.sun.com/xml/ns/j2ee  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd
    ">

    <servlet>
        <servlet-name>app1</servlet-name>
        <servlet-class>com.alibaba.citrus.service.jsp.JspEngineTests$MyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>app1</servlet-name>
        <url-pattern>/app1/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>jspx</servlet-name>
        <servlet-class>com.alibaba.citrus.service.jsp.JspEngineTests$FakeJspxServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>jspx</servlet-name>
        <url-pattern>*.jspx</url-pattern>
    </servlet-mapping>

</web-app>
