@charset "UTF-8";

tr.row-odd {
    background-color: #EEEEEE;
}

tr.row-even {
    background-color: white;
}

tr.row-highlight {
    background-color: silver;
}

td.item-key {
    width: 20%;
    font-size: small;
    font-weight: bold;
}

td.item-key .item-count {
    color: grey;
    font-size: smaller;
}

td.item-value ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

td.item-value .item-entry-key {
    color: dark;
    font-size: smaller;
    font-weight: bold;
}

td.item-value .item-entry-value {
    display: inline;
}
