## --------------------------
## Request请求信息
##
#@ charset    UTF-8
#@ trimming   on
#@ whitespace collapse
## --------------------------
<h1 class="webx-request">Request</h1>
<div class="webx-request">
  <h2>Basic Info</h2>
  ${basicInfo}

  <h2>Connection Info</h2>
  ${connectionInfo}

  <h2>Authentication Info</h2>
  ${authInfo}

  <h2>Misc</h2>
  ${misc}

  <h2>Parameters</h2>
  ${parameters}

  <h2>Headers</h2>
  ${headers}

  <h2>Cookies</h2>
  ${cookies}

  <h2>Request Attributes</h2>
  ${attributes}

  <h2>Context Attributes</h2>
  ${contextAttributes}
</div>
