@charset "UTF-8";

.webx-tabs {
    position:relative;
    float:left;
    width:100%;
    padding:0 0 1.75em 1em;
    margin:0;
    list-style:none;
    line-height:1em;
}

.webx-tabs li {
    float:left;
    margin:0;
    padding:0;
}

.webx-tabs a {
    display:block;
    color:#444;
    text-decoration:none;
    font-weight:bold;
    background:#ddd;
    margin:0;
    padding:0.25em 1em;
    border-left:1px solid #fff;
    border-top:1px solid #fff;
    border-right:1px solid #aaa;
}

.webx-tabs a:hover,

.webx-tabs a:active,

.webx-tabs li.selected a:link,

.webx-tabs li.selected a:visited {
    background:#bbb;
}

.webx-tabs li.selected a:link,

.webx-tabs li.selected a:visited {
    position:relative;
    z-index:102;
}
/* subnav */

.webx-tabs ul {
    position:absolute;
    left:0;
    top:1.5em;
    float:left;
    background:#bbb;
    width:100%;
    margin:0;
    padding:0.25em 0.25em 0.25em 1em;
    list-style:none;
    border-top:1px solid #fff;
    display: none;
}

.webx-tabs li.selected ul {
    display: block;
}

.webx-tabs ul li {
    float:left;
    display:block;
    margin-top:1px;
}

.webx-tabs ul a {
    background:#bbb;
    color:#fff;
    display:inline;
    margin:0;
    padding:0 1em;
    border:0
}

.webx-tabs ul a:hover,

.webx-tabs ul a:active,

.webx-tabs ul li.selected a:link,

.webx-tabs ul li.selected a:visited {
    color:#444;
}