@charset "UTF-8";

/**
 * Resolvable Deps.
 */
#webx-resolvable-deps {
    font-family: Consolas, "Courier New", Courier, monospace;
}

#webx-resolvable-deps ol {
    margin: 1em 0 0.2em 0;
    padding: 0 0 0 2em;
}

#webx-resolvable-deps li {
    margin: 0.5em 0 1em 0;
}

#webx-resolvable-deps li p {
    margin: 0;
}

#webx-resolvable-deps li pre {
    border: solid 1px grey;
    margin: 0.5em 0 0 0;
    padding: 0.5em;
}

/**
 * Configurations.
 */
#webx-configurations .configuration-file-name {
    font-family: Consolas, "Courier New", Courier, monospace;
}

/**
 * Resources.
 */
#webx-resources .box {
    border: solid 1px grey;
    margin: 1em 0;
}

#webx-resources .webx-resources-title {
    background-color: #E0E0E0;
    color: navy;
    font-weight: bold;
    margin: 0 0 0.5em 0;
    padding: 0 0.7em;
}

#webx-resources ul.webx-resources-content {
    padding: 0 0.7em;
    list-style: none;
}

#webx-resources .webx-resources-content blockquote {
    margin: 0.5em 0 1em 1em;
    padding: 0;
}

#webx-resources .webx-resources-content {
    color: navy;
}

#webx-resources .webx-resources-content p {
    margin: 0;
    padding: 0;
}

#webx-resources .webx-resource-trace-service-location {
    color: grey;
}

/**
 * Pull Tools.
 */
#webx-pull-tools .webx-pull-tool {
    color: #000096;
    font-weight: bolder;
}

#webx-pull-tools .webx-pull-tool-set {
    color: grey;
    font-style: italic;
    font-weight: bolder;
}

#webx-pull-tools li pre {
    border: 1px solid grey;
    margin: 0 0 0.5em 0;
    padding: 0.5em;
}

#webx-pull-tools li p {
    margin: 0;
}

#webx-pull-tools li p.hidden a {
    color: grey;
    text-decoration: line-through;
}

/**
 * URIs.
 */
#webx-uris .hidden-uri {
    color: #AAAA96;
}

#webx-uris .exposed-uri {
    color: #000096;
}

/**
 * Common.
 */
.hl-tag {
    color: #000096;
}

.hl-attribute {
    color: #F5844C;
}

.hl-value {
    color: #993300;
}
