@charset "UTF-8";

#webx-resolvable-deps {
    font-family: Consolas,"Courier New",Courier,monospace;
}

#webx-resolvable-deps ol {
    margin: 1em 0 0.2em 0;
    padding: 0 0 0 2em;
}

#webx-resolvable-deps li {
    margin: 0.5em 0 1em 0;
}

#webx-resolvable-deps li p {
    margin: 0;
}

#webx-resolvable-deps li pre {
    border: solid 1px grey;
    margin: 0.5em 0 0 0;
    padding: 0.5em;
}

#webx-configurations .configuration-file-name {
    font-family: Consolas,"Courier New",Courier,monospace;
}

.webx-resources {
    border: solid 1px grey;
    margin: 1em 0;
}

.webx-resources .webx-resources-title {
    background-color: #E0E0E0;
    color: navy;
    font-weight: bold;
    margin: 0 0 0.5em 0;
    padding: 0 0.7em;
}

.webx-resources ul.webx-resources-content {
    padding: 0 0.7em;
    list-style: none;
}

.webx-resources .webx-resources-content blockquote {
    margin: 0.5em 0 1em 1em;
    padding: 0;
}

.webx-resources .webx-resources-content {
    color: navy;
}

.webx-resources .webx-resources-content p {
    margin: 0;
    padding: 0;
}

.webx-resource-trace-service-location {
    color: grey;
}

.hl-tag {
    color:#000096;
}

.hl-attribute {
    color: #F5844C;
}

.hl-value {
    color: #993300;
}

.hidden-uri {
    color: #AAAA96;
}

.exposed-uri {
    color: #000096;
}
