@charset "UTF-8";

#webx-resolvable-deps {
    font-family: Consolas,"Courier New",Courier,monospace;
}

#webx-resolvable-deps dt {
    margin: 1em 0 0.2em 0;
}

#webx-resolvable-deps dt p {
    margin: 0;
}

#webx-resolvable-deps dt .dep-package {
}

#webx-resolvable-deps dt .dep-class {
    font-weight: bolder;
}

#webx-resolvable-deps dd {
    border: solid thin grey;
    margin: 0;
    padding: 1em;
}

#webx-beans {
    border: solid thin grey;
    margin: 0;
    padding: 1em;
}

#webx-beans ul {
    list-style: none;
}

#webx-beans>ul {
    margin: 0;
    padding: 0;
}

.hl-annotation {
    color:grey;
    font-style:italic;
}

.hl-keyword {
    color:#973074;
    font-weight: bolder;
}

.hl-variable {
    color:#0000c0;
}