@charset "UTF-8";

#webx-resolvable-deps {
    font-family: Consolas,"Courier New",Courier,monospace;
}

#webx-resolvable-deps ol {
    margin: 1em 0 0.2em 0;
    padding: 0 0 0 2em;
}

#webx-resolvable-deps li {
    margin: 0.5em 0 1em 0;
}

#webx-resolvable-deps li p {
    margin: 0;
}

#webx-resolvable-deps li pre {
    border: solid 1px grey;
    margin: 0.5em 0 0 0;
    padding: 0.5em;
}

#webx-configurations .configuration-file-name {
    font-family: Consolas,"Courier New",Courier,monospace;
}
